authorization.js|33 col 5| this.getAll = function(msg, block, callback) {
authorization.js|73 col 5| this.get = function(msg, block, callback) {
authorization.js|115 col 5| this.create = function(msg, block, callback) {
authorization.js|160 col 5| this.update = function(msg, block, callback) {
authorization.js|200 col 5| this.delete = function(msg, block, callback) {
events.js|33 col 5| this.get = function(msg, block, callback) {
events.js|76 col 5| this.getFromRepo = function(msg, block, callback) {
events.js|119 col 5| this.getFromRepoIssues = function(msg, block, callback) {
events.js|162 col 5| this.getFromRepoNetwork = function(msg, block, callback) {
events.js|204 col 5| this.getFromOrg = function(msg, block, callback) {
events.js|246 col 5| this.getReceived = function(msg, block, callback) {
events.js|288 col 5| this.getReceivedPublic = function(msg, block, callback) {
events.js|330 col 5| this.getFromUser = function(msg, block, callback) {
events.js|372 col 5| this.getFromUserPublic = function(msg, block, callback) {
events.js|415 col 5| this.getFromUserOrg = function(msg, block, callback) {
gists.js|34 col 5| this.getAll = function(msg, block, callback) {
gists.js|77 col 5| this.getFromUser = function(msg, block, callback) {
gists.js|119 col 5| this.create = function(msg, block, callback) {
gists.js|161 col 5| this.edit = function(msg, block, callback) {
gists.js|201 col 5| this.public = function(msg, block, callback) {
gists.js|241 col 5| this.starred = function(msg, block, callback) {
gists.js|281 col 5| this.get = function(msg, block, callback) {
gists.js|321 col 5| this.star = function(msg, block, callback) {
gists.js|361 col 5| this.deleteStar = function(msg, block, callback) {
gists.js|401 col 5| this.checkStar = function(msg, block, callback) {
gists.js|441 col 5| this.fork = function(msg, block, callback) {
gists.js|481 col 5| this.delete = function(msg, block, callback) {
gists.js|521 col 5| this.getComments = function(msg, block, callback) {
gists.js|562 col 5| this.getComment = function(msg, block, callback) {
gists.js|603 col 5| this.createComment = function(msg, block, callback) {
gists.js|645 col 5| this.editComment = function(msg, block, callback) {
gists.js|686 col 5| this.deleteComment = function(msg, block, callback) {
gitdata.js|36 col 5| this.getBlob = function(msg, block, callback) {
gitdata.js|79 col 5| this.createBlob = function(msg, block, callback) {
gitdata.js|121 col 5| this.getCommit = function(msg, block, callback) {
gitdata.js|167 col 5| this.createCommit = function(msg, block, callback) {
gitdata.js|209 col 5| this.getReference = function(msg, block, callback) {
gitdata.js|252 col 5| this.getAllReferences = function(msg, block, callback) {
gitdata.js|295 col 5| this.createReference = function(msg, block, callback) {
gitdata.js|339 col 5| this.updateReference = function(msg, block, callback) {
gitdata.js|381 col 5| this.deleteReference = function(msg, block, callback) {
gitdata.js|423 col 5| this.getTag = function(msg, block, callback) {
gitdata.js|469 col 5| this.createTag = function(msg, block, callback) {
gitdata.js|512 col 5| this.getTree = function(msg, block, callback) {
gitdata.js|555 col 5| this.createTree = function(msg, block, callback) {
gitignore.js|32 col 5| this.templates = function(msg, block, callback) {
gitignore.js|72 col 5| this.template = function(msg, block, callback) {
issues.js|39 col 5| this.getAll = function(msg, block, callback) {
issues.js|90 col 5| this.repoIssues = function(msg, block, callback) {
issues.js|132 col 5| this.getRepoIssue = function(msg, block, callback) {
issues.js|178 col 5| this.create = function(msg, block, callback) {
issues.js|226 col 5| this.edit = function(msg, block, callback) {
issues.js|272 col 5| this.repoComments = function(msg, block, callback) {
issues.js|316 col 5| this.getComments = function(msg, block, callback) {
issues.js|358 col 5| this.getComment = function(msg, block, callback) {
issues.js|401 col 5| this.createComment = function(msg, block, callback) {
issues.js|444 col 5| this.editComment = function(msg, block, callback) {
issues.js|486 col 5| this.deleteComment = function(msg, block, callback) {
issues.js|530 col 5| this.getEvents = function(msg, block, callback) {
issues.js|573 col 5| this.getRepoEvents = function(msg, block, callback) {
issues.js|615 col 5| this.getEvent = function(msg, block, callback) {
issues.js|658 col 5| this.getLabels = function(msg, block, callback) {
issues.js|700 col 5| this.getLabel = function(msg, block, callback) {
issues.js|743 col 5| this.createLabel = function(msg, block, callback) {
issues.js|786 col 5| this.updateLabel = function(msg, block, callback) {
issues.js|828 col 5| this.deleteLabel = function(msg, block, callback) {
issues.js|870 col 5| this.getIssueLabels = function(msg, block, callback) {
issues.js|915 col 5| this.getAllMilestones = function(msg, block, callback) {
issues.js|957 col 5| this.getMilestone = function(msg, block, callback) {
issues.js|1002 col 5| this.createMilestone = function(msg, block, callback) {
issues.js|1048 col 5| this.updateMilestone = function(msg, block, callback) {
issues.js|1090 col 5| this.deleteMilestone = function(msg, block, callback) {
markdown.js|34 col 5| this.render = function(msg, block, callback) {
misc.js|32 col 5| this.emojis = function(msg, block, callback) {
misc.js|72 col 5| this.meta = function(msg, block, callback) {
misc.js|112 col 5| this.rateLimit = function(msg, block, callback) {
orgs.js|34 col 5| this.getFromUser = function(msg, block, callback) {
orgs.js|76 col 5| this.get = function(msg, block, callback) {
orgs.js|121 col 5| this.update = function(msg, block, callback) {
orgs.js|163 col 5| this.getMembers = function(msg, block, callback) {
orgs.js|204 col 5| this.getMember = function(msg, block, callback) {
orgs.js|245 col 5| this.removeMember = function(msg, block, callback) {
orgs.js|285 col 5| this.getPublicMembers = function(msg, block, callback) {
orgs.js|326 col 5| this.getPublicMember = function(msg, block, callback) {
orgs.js|367 col 5| this.publicizeMembership = function(msg, block, callback) {
orgs.js|408 col 5| this.concealMembership = function(msg, block, callback) {
orgs.js|450 col 5| this.getTeams = function(msg, block, callback) {
orgs.js|490 col 5| this.getTeam = function(msg, block, callback) {
orgs.js|533 col 5| this.createTeam = function(msg, block, callback) {
orgs.js|575 col 5| this.updateTeam = function(msg, block, callback) {
orgs.js|615 col 5| this.deleteTeam = function(msg, block, callback) {
orgs.js|657 col 5| this.getTeamMembers = function(msg, block, callback) {
orgs.js|698 col 5| this.getTeamMember = function(msg, block, callback) {
orgs.js|739 col 5| this.addTeamMember = function(msg, block, callback) {
orgs.js|780 col 5| this.deleteTeamMember = function(msg, block, callback) {
orgs.js|822 col 5| this.getTeamRepos = function(msg, block, callback) {
orgs.js|864 col 5| this.getTeamRepo = function(msg, block, callback) {
orgs.js|906 col 5| this.addTeamRepo = function(msg, block, callback) {
orgs.js|948 col 5| this.deleteTeamRepo = function(msg, block, callback) {
pullRequests.js|38 col 5| this.getAll = function(msg, block, callback) {
pullRequests.js|80 col 5| this.get = function(msg, block, callback) {
pullRequests.js|125 col 5| this.create = function(msg, block, callback) {
pullRequests.js|169 col 5| this.createFromIssue = function(msg, block, callback) {
pullRequests.js|214 col 5| this.update = function(msg, block, callback) {
pullRequests.js|258 col 5| this.getCommits = function(msg, block, callback) {
pullRequests.js|302 col 5| this.getFiles = function(msg, block, callback) {
pullRequests.js|346 col 5| this.getMerged = function(msg, block, callback) {
pullRequests.js|389 col 5| this.merge = function(msg, block, callback) {
pullRequests.js|433 col 5| this.getComments = function(msg, block, callback) {
pullRequests.js|475 col 5| this.getComment = function(msg, block, callback) {
pullRequests.js|521 col 5| this.createComment = function(msg, block, callback) {
pullRequests.js|565 col 5| this.createCommentReply = function(msg, block, callback) {
pullRequests.js|608 col 5| this.updateComment = function(msg, block, callback) {
pullRequests.js|650 col 5| this.deleteComment = function(msg, block, callback) {
releases.js|35 col 5| this.listReleases = function(msg, block, callback) {
releases.js|77 col 5| this.getRelease = function(msg, block, callback) {
releases.js|124 col 5| this.createRelease = function(msg, block, callback) {
releases.js|172 col 5| this.editRelease = function(msg, block, callback) {
releases.js|214 col 5| this.deleteRelease = function(msg, block, callback) {
releases.js|256 col 5| this.listAssets = function(msg, block, callback) {
releases.js|298 col 5| this.getAsset = function(msg, block, callback) {
releases.js|342 col 5| this.editAsset = function(msg, block, callback) {
releases.js|384 col 5| this.deleteAsset = function(msg, block, callback) {
repos.js|36 col 5| this.getAll = function(msg, block, callback) {
repos.js|81 col 5| this.getFromUser = function(msg, block, callback) {
repos.js|124 col 5| this.getFromOrg = function(msg, block, callback) {
repos.js|172 col 5| this.create = function(msg, block, callback) {
repos.js|222 col 5| this.createFromOrg = function(msg, block, callback) {
repos.js|263 col 5| this.get = function(msg, block, callback) {
repos.js|312 col 5| this.update = function(msg, block, callback) {
repos.js|353 col 5| this.delete = function(msg, block, callback) {
repos.js|397 col 5| this.merge = function(msg, block, callback) {
repos.js|441 col 5| this.getContributors = function(msg, block, callback) {
repos.js|484 col 5| this.getLanguages = function(msg, block, callback) {
repos.js|527 col 5| this.getTeams = function(msg, block, callback) {
repos.js|570 col 5| this.getTags = function(msg, block, callback) {
repos.js|613 col 5| this.getBranches = function(msg, block, callback) {
repos.js|657 col 5| this.getBranch = function(msg, block, callback) {
repos.js|700 col 5| this.getCollaborators = function(msg, block, callback) {
repos.js|742 col 5| this.getCollaborator = function(msg, block, callback) {
repos.js|784 col 5| this.addCollaborator = function(msg, block, callback) {
repos.js|826 col 5| this.removeCollaborator = function(msg, block, callback) {
repos.js|874 col 5| this.getCommits = function(msg, block, callback) {
repos.js|916 col 5| this.getCommit = function(msg, block, callback) {
repos.js|959 col 5| this.getAllCommitComments = function(msg, block, callback) {
repos.js|1003 col 5| this.getCommitComments = function(msg, block, callback) {
repos.js|1050 col 5| this.createCommitComment = function(msg, block, callback) {
repos.js|1092 col 5| this.getCommitComment = function(msg, block, callback) {
repos.js|1135 col 5| this.updateCommitComment = function(msg, block, callback) {
repos.js|1178 col 5| this.compareCommits = function(msg, block, callback) {
repos.js|1220 col 5| this.deleteCommitComment = function(msg, block, callback) {
repos.js|1262 col 5| this.getReadme = function(msg, block, callback) {
repos.js|1305 col 5| this.getContent = function(msg, block, callback) {
repos.js|1350 col 5| this.createContent = function(msg, block, callback) {
repos.js|1397 col 5| this.createFile = function(msg, block, callback) {
repos.js|1445 col 5| this.updateFile = function(msg, block, callback) {
repos.js|1492 col 5| this.deleteFile = function(msg, block, callback) {
repos.js|1535 col 5| this.getArchiveLink = function(msg, block, callback) {
repos.js|1578 col 5| this.getDownloads = function(msg, block, callback) {
repos.js|1620 col 5| this.getDownload = function(msg, block, callback) {
repos.js|1662 col 5| this.deleteDownload = function(msg, block, callback) {
repos.js|1706 col 5| this.getForks = function(msg, block, callback) {
repos.js|1748 col 5| this.fork = function(msg, block, callback) {
repos.js|1791 col 5| this.getKeys = function(msg, block, callback) {
repos.js|1833 col 5| this.getKey = function(msg, block, callback) {
repos.js|1876 col 5| this.createKey = function(msg, block, callback) {
repos.js|1920 col 5| this.updateKey = function(msg, block, callback) {
repos.js|1962 col 5| this.deleteKey = function(msg, block, callback) {
repos.js|2005 col 5| this.getStargazers = function(msg, block, callback) {
repos.js|2046 col 5| this.getStarred = function(msg, block, callback) {
repos.js|2088 col 5| this.getStarredFromUser = function(msg, block, callback) {
repos.js|2131 col 5| this.getStarring = function(msg, block, callback) {
repos.js|2172 col 5| this.star = function(msg, block, callback) {
repos.js|2213 col 5| this.unStar = function(msg, block, callback) {
repos.js|2256 col 5| this.getWatchers = function(msg, block, callback) {
repos.js|2297 col 5| this.getWatched = function(msg, block, callback) {
repos.js|2339 col 5| this.getWatchedFromUser = function(msg, block, callback) {
repos.js|2382 col 5| this.getWatching = function(msg, block, callback) {
repos.js|2423 col 5| this.watch = function(msg, block, callback) {
repos.js|2464 col 5| this.unWatch = function(msg, block, callback) {
repos.js|2507 col 5| this.getHooks = function(msg, block, callback) {
repos.js|2549 col 5| this.getHook = function(msg, block, callback) {
repos.js|2594 col 5| this.createHook = function(msg, block, callback) {
repos.js|2642 col 5| this.updateHook = function(msg, block, callback) {
repos.js|2684 col 5| this.testHook = function(msg, block, callback) {
repos.js|2726 col 5| this.deleteHook = function(msg, block, callback) {
search.js|36 col 5| this.issues = function(msg, block, callback) {
search.js|80 col 5| this.repos = function(msg, block, callback) {
search.js|124 col 5| this.users = function(msg, block, callback) {
search.js|164 col 5| this.email = function(msg, block, callback) {
statuses.js|34 col 5| this.get = function(msg, block, callback) {
statuses.js|79 col 5| this.create = function(msg, block, callback) {
user.js|32 col 5| this.getFrom = function(msg, block, callback) {
user.js|72 col 5| this.get = function(msg, block, callback) {
user.js|118 col 5| this.update = function(msg, block, callback) {
user.js|159 col 5| this.getOrgs = function(msg, block, callback) {
user.js|200 col 5| this.getTeams = function(msg, block, callback) {
user.js|241 col 5| this.getEmails = function(msg, block, callback) {
user.js|281 col 5| this.addEmails = function(msg, block, callback) {
user.js|321 col 5| this.deleteEmails = function(msg, block, callback) {
user.js|363 col 5| this.getFollowers = function(msg, block, callback) {
user.js|405 col 5| this.getFollowingFromUser = function(msg, block, callback) {
user.js|446 col 5| this.getFollowing = function(msg, block, callback) {
user.js|488 col 5| this.getFollowUser = function(msg, block, callback) {
user.js|528 col 5| this.followUser = function(msg, block, callback) {
user.js|568 col 5| this.unFollowUser = function(msg, block, callback) {
user.js|609 col 5| this.getKeys = function(msg, block, callback) {
user.js|651 col 5| this.getKeysFromUser = function(msg, block, callback) {
user.js|691 col 5| this.getKey = function(msg, block, callback) {
user.js|732 col 5| this.createKey = function(msg, block, callback) {
user.js|774 col 5| this.updateKey = function(msg, block, callback) {
user.js|814 col 5| this.deleteKey = function(msg, block, callback) {
